		:root{
	--intro-font-padding: ;
	--subandsubsub-font: 2.5rem;
	--card-persepctive: 200rem;
	--card-stick: 39rem;
	--transport-opacity: 1;
	--background-opacity: 0.85;
}

html{
	font-size: 100%;
	background-image: url(background.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 100%;
    scroll-behavior: smooth;
    min-width: 100%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
} 
img{
	object-fit: cover;
}
.navigation_checkbox {
	display: none;
}
.navigation_button {
	opacity: 0.9;
	background-color: wheat;
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
	position: fixed;
	top: 6rem;
	right: 6rem;
	z-index: 2000;
	box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
	text-align: center;
	cursor: pointer;
}
.navigation_icon {
	position: relative;
	margin-top: 3.5rem;
}
.navigation_icon::before, .navigation_icon::after {
	content: "";
}
.navigation_icon::before {
	position: absolute;
	top: -.8rem;
	left: 0;
}
.navigation_icon::after {
	position: absolute;
	top: .8rem;
	left: 0;
}
.navigation_icon, .navigation_icon::before, .navigation_icon::after {
	width: 3rem;
	height: 2px;
	background-color: #333;
	display: inline-block;
	transition: all .2s;
}
.navigation_button:hover .navigation_icon::before {
	top: -1rem;
}
.navigation_button:hover .navigation_icon::after {
	top: 1rem;
}
.navigation_checkbox:checked + .navigation_button .navigation_icon {
	background-color: transparent;
}
.navigation_checkbox:checked + .navigation_button .navigation_icon::before { 
	transform: rotate(135deg);
	top: 0;
}
.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
	transform: rotate(-135deg);
	top: 0;
}
.navigation_list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
	width: 100%;
}
.navigation_item {
	margin: 1rem;
}
.navigation_nav {
	background-color: wheat;
	opacity: 0;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1500;
	width: 0;
	transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navigation_background {
	display: none;
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	position: fixed;
	top: 6.5rem;
	right: 6.5rem;
	z-index: 1000;
	transition: transform .9s;
	transform: scale(80);
}
.navigation_link, .navigation:link, .navigation_link:visited {
	display: inline-block;
	font-size: 3rem;
	font-weight: 300;
	padding: 1rem 2rem;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	background-image: linear-gradient(120deg,transparent 0%,transparent 50%,white 50%);
	background-size: 240%;
	transition: all .4s;
}
.navigation_link:hover, .navigation_link:active {
	background-position: 100%;
	color: rgba(41,152,255,1);
	transform: translateX(1rem);
}
.navigation_checkbox:checked~.navigation_background {
	transform: scale(80);
}
.navigation_checkbox:checked~.navigation_nav {
	opacity: 0.8;
	width: 40%;
}

.transit{
	padding-left: 100%;
	margin-top: -2rem;
	padding-top: 5rem;
	padding-bottom: 2rem;
	margin-left: -50%;
	width: 45%;
	opacity: 1;
	display: block;
	bottom: 5rem;
}
.logo{
	font-size: 21px;
	opacity: 1;
	width:5%;
}
.intro{

	background-size: 100%;
	margin-top: 5rem;
	opacity: var(--background-opacity);
	background-color: #33cc33;
}
.intro1{
	margin-left: -5%;
	padding-top: 5rem;
	background-repeat: no-repeat;
	opacity: 1;
	font-family: 'Staatliches', cursive;
	
}
.intro2{
	margin-left: 10%;
	margin-top: -35%;
	font-size: 31px;
	color: red;
	padding-top: var(--intro-font-padding);
	animation-name: intro2;
	animation-duration: 3s;
	text-shadow: 0.01rem 0.01rem #808080;
}	

.subintro{
	transform: translateX(10%)
	margin-top: 3rem;
	padding-top: var(--intro-font-padding);
	animation-name: subintro;
	animation-duration: 5s;
}
.subsubintro{
	transform: translateX(10%)
	padding-top: var(--intro-font-padding);
	animation-name: subsubintro;
	animation-duration: 6s;
}
.subsubsubintro{
	transform: translateX(10%)
	font-weight: bold;
	font-size: 1.3rem;
	color: red;
	animation-name: subsubsubintro;
	animation-duration: 6.5s;
	background-color: transparent;
	transition: 1s;
	background-color: cyan;
}
.filler{ 
	opacity: var(--background-opacity);
	background-color: #FAD4CC;
	padding-top: -15rem;
	margin-top: 30%;
	padding-bottom: 5rem;
	
}
.info{
	text-decoration: none;
	color: red;
}


.filler-title{
	font-family: 'Germania One', cursive;
	position: absolute;
	margin-left: 34%;
	margin-bottom: 47%;
	font-size: 4rem;
}

.plane{
	margin-top: 10%;
	opacity:var(--transport-opacity);
	border-radius: 0.5rem;
	box-shadow: -0.4rem 0.4rem #808080;
	width: 22%;
	margin-left: 62%;
}
.car{
	opacity:var(--transport-opacity);	border-radius: 1rem;
	box-shadow: 0.4rem 0.4rem #808080;
	width: 22%;
	margin-left: 42%;
	margin-top: -10rem;
}

.bike{
	opacity:var(--transport-opacity);
	border-radius: 0.5rem;
	box-shadow: 0.4rem 0.4rem #808080;
	margin-left: 62%;
	margin-top: -9%;
	width: 19%;
}

.hovers:hover img:not(:hover) {
	transform: scale(.9);
	opacity: .75;
}
#DRI{ 
	margin-left: 7%;
	margin-top: -22%;
	color: black;
}
.inform{
	font-size: 1.5rem;
	box-shadow: 0.4rem 0.4rem #808080;
	text-align: center;
	background-color: white;
	border-style: solid;
	border-radius: 2rem;
	border-color: black;
	color: red;
	position: absolute;
	margin-top: -30%;
	width: 35%;
}
.subsubsubintro:hover{
	transition-duration: 1s;
	color: cyan;
	background-color: violet;
	border-radius: 9rem;
}


.info:hover{
	transition-duration: 1s;
	color: cyan;
}
.content3{
	opacity: var(--background-opacity);
	background-color: #F8F8FF;
	margin-top: 10rem;
	padding-bottom: 7rem;
}
.reviews{
	font-family: 'Bangers', cursive;
	text-decoration: underline;
	text-align: center;
	font-size: 5rem;
}
.reviews-under{
	margin-top: -5%;
	margin-bottom: 1%;
}
.card-container {
    -webkit-perspective: 500px;
            perspective: 500px;
}

.card-container:hover .card{
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}

.card {
    -webkit-transition: -webkit-transform 0.7s;
            transition: transform 0.7s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.front, .back, .reviewer {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.back{
	background-color: gray;
	text-align: center;
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}
.mom{
	width:100%;
}
.gamer{
	width:100%;
}
.backtxt{
	color: orange;
	margin-top:-100%;
}

.backtxt2{
	color: violet;
	margin-top:-110%;
}

.backtxt3{
	color: red;
	margin-top:-100%;
}

.cards-container{
   	display: -webkit-flex;
   	display: -webkit-box;
   	display: -ms-flexbox;
   	display: flex;
   	justify-content: space-around;
   	margin-top: 5rem;
   	margin-bottom: 5rem;
}

.card{
	width: 20rem;
	height: 20rem;
	margin: 1rem;
}

.front, .back {
	font-family: 'Indie Flower', cursive;
	font-size: 2rem;
  	box-shadow: 0 1px 6px 0;
  	position: absolute;
  	width: 100%;
  	top: 0;
  	bottom: 0;
}
.reviewer{	
	font-size: 3rem;
	text-align: center;
	color: white;
	display:block;
	position: relative;
}
.gabe {
	margin-top: -10.4rem;
 	display: block;
 	width: 100%;
}

.thami{
	margin-top: -10.4rem;
	width: 100%;
	display: block;
}
.tarasov{
	margin-top: -10.4rem;
	width: 100%;
	display: block;
}

.whalen{
	width:100%;
	display:block;
}

.companies{
	margin-bottom: 20rem;
	display: flex;
   	justify-content: space-around;
}
.box {
	margin-top: 10rem;
 	width: 40%;
 	margin: 0 auto;
  	padding: 35px;
  	border-radius: 20px/50px;
  	background-clip: padding-box;
  	text-align: center;
}
#section-companies{
	margin-top: 7rem;
	color: yellow;
	font-family: 'Indie Flower', cursive;
	font-size: 2rem;
	text-align: center;
}
.promote{
	margin-top: 3rem;
	font-size: 1.3rem;
}

.button{
	opacity: 0.8;
	background-color: #E3F3DF;
  	font-size: 1em;
  	padding: 10px;
  	color: purple;
  	border: 2px solid #06D85F;
  	border-radius: 20px/50px;
  	text-decoration: none;
  	cursor: pointer;
  	transition: all 0.3s ease-out;
}
.button:hover {
  	background: #06D85F;
}

.overlay{
  	position: fixed;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(0, 0, 0, 0.7);
  	transition: opacity 500ms;
  	visibility: hidden;
  	opacity: 0;
}
.overlay:target {
  	visibility: visible;
  	opacity: 1;
}

.popup {
  	margin: 70px auto;
  	padding: 20px;
  	background: red;
  	border-radius: 5px;
  	width: 30%;
  	position: relative;
  	transition: all 0.5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  	color: #06D85F;
}
.popup .content {
  	max-height: 30%;
}
.tiny{
	color: #AD989C;
	font-size: 0.7rem;
}

	
@media screen and (max-width: 1024px){
	.navigation_button{
		display:none;
	}
	.intro{
		background-color: #C1FAC6;
	}
	.intro2{
		font-size: 24px;
		margin-top: -28rem;
	}
	.filler{
		background-color: #FFE3E8;
		padding-bottom: 8rem;
	}
	.filler-title{
		margin-left: 18rem;
	}
	.plane{
		margin-top: 8rem;
		width: 25%;
	}
	.car{
		width: 25%;
	}
	.bike{
		width: 25%;
	}
	.hovers{
		margin-left: 4rem;
	}
	.inform{
		margin-top: -20rem;
		font-size: 1.2rem;
	}
	.card{
		-o-transition-property: none !important;
    	-moz-transition-property: none !important;
    	-ms-transition-property: none !important;
    	-webkit-transition-property: none !important;
    	transition-property: none !important;
	}
	.front{
		margin-left: 100%;
	}
	.back{
		margin-left: -100%;
	}
	.cards-container{
		flex-direction: column;
	}
	.box{
		padding: 0;
    	width: 70%;
  	}
  	.popup{
    	width: 70%;
 	}
}

@media screen and (max-width: 500px){
	html{
		width:100%;
	}
}

@keyframes intro2{
	0%{
		transform: translateX(-130rem);
	}
	100%{
		transform: translateX(0);
	}
}

@keyframes subintro{
	0%{
		transform: translateX(-180rem);
	}
	100%{
		transform: translateX(0);
	}
}

@keyframes subsubintro{
	0%{
		transform: translateX(-180rem)
	}
	50%{
		transform: translateX(-180rem);
	}
	100%{
		transform: translateX(0);
	}
}

@keyframes subsubsubintro{
	0%{
		opacity: 0;
	}
	90%{
		opacity: 0;
	}
	100%{
		opacity: 0.85;
	}
}

@keyframes fadeIn {
  	from {opacity: 0;}
  	to {opacity:1 ;}
}